<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://render.fineartamerica.com/images/rendered/default/poster/10/8/break/images-medium-5/1-dive-andrew-kow.jpg" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">Views - 12,456</small>
                    <small class="bg-light text-warning text-center ml-2">Last Updated- Jun 2 2023 </small>

                    <h1 class="mt-3 mb-3">How to start a car in fast</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia deleniti quibusdam laborum, numquam porro, saepe cupiditate quo quidem ullam distinctio alias totam illo, ducimus repellat quod. Sunt, cum molestiae. Dolore. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. A sit ratione voluptatem aliquid, adipisci vitae modi tempore consequuntur porro praesentium amet! Vel facilis blanditiis earum ex nemo? Dicta, error voluptate. Lorem ipsum dolor
                        sit amet consectetur adipisicing elit. Assumenda iusto voluptas aut sit molestias vero blanditiis, labore esse quas! Tempora repellendus voluptas dolorum odio veniam quaerat aut corporis praesentium est?</p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>
</div>